body {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
main {
    width: 100%;
}
a{
    text-decoration: none;
}


.header{    
    margin: 0 auto;
    width: 100%;
    height: 960px;
    background-image: url("./img/backgroundPhoto.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}
.bacground{
    height: 960px;
    background: rgba(42, 108, 234, 0.6);    
}

.head-menu{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1216px;
    margin: 0 auto;
}

.head-navigation{
    display: flex;
    padding: 0 20px;
    list-style-type: none;
    text-decoration: none;
    color: white;
}

.head-navigation li:hover{
    text-decoration: underline;
}


.head-navigation a{
    color: white;
}

.head-navigation li{
   padding-left: 30px;
}

.title{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 233px auto;
    width: 748px;
    height: 334px;
}

.prof-txt{ 
   font-family: Graphik LCG;
    font-size: 52px;
    font-weight: 600;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
}

.test-txt{
    font-family: Graphik LCG;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;    
    color: white;
}

.title-button{
    cursor: pointer;
    width: 251px;
    height: 64px;
    padding: 20px 40px;
    border-radius: 4px;
    border: 0px;
}

.it-works {
    margin: 80px auto 80px;
    width: 1216px;
    height: 281px;
}

.it-title-works {
    text-align: center;
    font-family: Graphik LCG;
    font-size: 40px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: center;
}

.workes {
    display: flex;
    margin-top: 61px;
    justify-content: space-between;
}

.block-work {
    display: flex;
    flex-direction: column;
    height: 164px;
    width: 280px;
}

.icon-workes { 
    width: 72px;
    height: 72px;
}

.title-work { 
    font-family: Graphik LCG;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.description-work { 
    font-family: Graphik LCG;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    padding-right: 15%;
}

.block-3 {
    display: flex;
    width: 1216px;
    height: 448px;
    margin: 0 auto;
}

.bloook {
    display: flex;
}

.block-3-title { 
    font-family: Graphik LCG;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
}

.block-3-description { 
    font-family: Graphik LCG;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}


.reviews {
    background: rgba(246, 248, 250, 1);
    height: 564px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.reviews-title {
    text-align: center;
}

.prev-button,
.next-button {
}

.prev-button{
    align-self: center;
}

.next-button {
    right: 10px;
}

.review-block{
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 0px 31px -5px rgba(34, 60, 80, 0.2);
    padding: 22px 22px 62px 22px;
    border-radius: 8px;
}

.name-user{ 
    font-family: Graphik LCG;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}
.city-user{
    font-family: Graphik LCG;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
}

.ddddd{
    display: flex;
    padding-bottom: 20px;
}
.avatar{
    height: 44px;
    width: 44px;
}
.info-user{ 
    display: flex;
    flex-direction: column;
    padding-left: 16px;
}

.reviews-blocks{
    display: flex;
    justify-content: space-between;
    width: 1216px;
    margin: 0 auto;
}

.review-description {
    width:297px;
}

.footer{
    height: 88px;    display: flex;
    align-items: center;
    justify-content: center;
}
